{% extends "base.html" %}

{% block body %}

<form method="POST">
{% for film in films %}

<fieldset class="pollbox" style="white-space: nowrap; margin=0px">
    <legend align="center">{{ film }}</legend>
    <div class="buttonContainer">
    <label for="-2">Trash</label>
    <input type="radio" name="{{ film }}" value="-2" class="button">
    </div>
    <div class="buttonContainer">
    <label for="-1">Dislike</label>    
    <input type="radio" name="{{ film }}" value="-1" class="button">
    </div>
    <div class="buttonContainer">
    <label for="0" align="center">Neutral</label>     
    <input type="radio" name="{{ film }}" value="0" class="button" checked="checked">
    </div>    
    <div class="buttonContainer">
    <label for="1">Like</label>        
    <input type="radio" name="{{ film }}" value="1" class="button">
    </div>
    <div class="buttonContainer">
    <label for="2">Lush</label>       
    <input type="radio" name="{{ film }}" value="2" class="button">
    </div>
</fieldset>


{% endfor %}

<input type="submit" name="Submit"  style="display:block;margin-left: auto; margin-right: auto;">
</form>

{% endblock %}

